.canvas{
    max-width: 360px;
    max-height: 805px;
    background-color: #343C82;
    position: fixed; 
    top: 0;          
    left: 0;
}
.footer img{
    width: 45px;
    height: 45px;
    display: block;
    margin: auto;
    margin: 50px;
}
.footer{
    display: flex;
    justify-content: center;   
}
.coin img{
    max-width: 260px;
    max-height: 210px;
    margin-left: 10%;
}

.coin h1{
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 64px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    font-weight: 900;
    text-align: center;
}

.snake img{
    max-width: 45px;
    max-height: 45px;
    padding: 50%;
    margin-left: -10px;
}

.snake{
    display: flex;
    align-items: center;
    margin-left: 30%;
}
.snake h1{
    color: #FFF;
}
